<% provide(:title, "Contact Profiles Manager") %>
<h1>Contact Profiles Manager</h1>

<div class="row">
  <div class="breadcrumb-layout">
    <ul class="breadcrumb">
      <li>
        <%= link_to "New", new_contact_profile_path %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="content-layout">

    <% if @contact_profiles.any? %>
      <h3>Contact Profiles</h3>
      <%= render "contact_profiles_table" %>
    <% end %>

  </div>
</div>
