<% provide(:title, "New Contact Profile") %>

<div class="row">
  <div class="breadcrumb-layout">
    <ul class="breadcrumb">
      <li>
        <%= link_to "Back", :back %>
      </li>
    </ul>
  </div>
</div>

<%= form_for @contact_profile do |f| %>
  <%= render 'fields', f: f %>
<% end %>