<div class="tab-pane" id="crossingme">
  <div class="row-fluid">

    <div class="span4">
      <ul>
        <% (1..1).each do |i| %>

          <li>
            <%= link_to "Crossin' Me #{i}", image_path("crossingme/crossingme0#{i}.jpg"), :class => "lightbox", :rel => "crossingme" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="span8 bs-docs">
      <p>
        Crossin' Me is an upcoming social network where the users are identified by the own car's plate.

        The web app is .Net MVC 4 based.
      </p>
      <p>
        <b>STATUS: work in progress</b>
      </p>
    </div>
  </div>
</div>