<div class="tab-pane" id="dsa">
  <div class="row-fluid">

    <div class="span9">
      <ul>
        <% (0..1).each do |i| %>

          <li>
            <%= link_to "Day Service Access #{i}", image_path("dsa/dsa#{i}.png"), :class => "lightbox", :rel => "dsa" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>