<div class="tab-pane" id="fittracker">
  <div class="row-fluid">

    <div class="span4">
      <ul>
        <% (1..6).each do |i| %>

          <li>
            <%= link_to "Fit-Tracker 0#{i}", image_path("fittracker/fittracker0#{i}.png"), :class => "lightbox", :rel => "fittracker" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="span8 bs-docs">
      <p>
        Fit-Tracker is a web application born with the main purpose to track the users’s fitness workouts and calorie consumption.
      </p>
      <p>
        Url: <%= link_to "Fit-Tracker", 'http://fit-tracker.herokuapp.com/' %>
      </p>
    </div>
  </div>
</div>