<div class="tab-pane" id="infoclin">
  <div class="row-fluid">
    <div class="span4">
      <ul>
        <% (0..0).each do |i| %>
          <li>
            <%= link_to "InfoClin Web 0#{i}", image_path("infoclin/infoclin0#{i}.png"), :class => "lightbox", :rel => "infoclin" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="span8 bs-docs">
      <p>
        InfoClin Web is a CMS health care application.
        This application is highly configurable and let the final user to customize the structure and the contents of the the clinical records.
      </p>
      <p>
        Url: <%= link_to "InfoClin Web", 'http://www.dedalus.eu/' %>
      </p>
    </div>
  </div>
</div>