
<!-- Section #1 -->
<section id="projects" data-speed="10" data-type="background">
  <article>Projects</article>
  <h1><%= Faker::Lorem.sentence(3) %></h1>
  <p><%= Faker::Lorem.sentence(1000) %></p>
</section>
<!-- Section #2 -->
<section id="contact" data-speed="4" data-type="background">
  <article>Contact</article>
  <h1><%= Faker::Lorem.sentence(3) %></h1>
  <p><%= Faker::Lorem.sentence(1000) %></p>
</section>

<% include_javascript 'static_pages/parallax.js' %>
