<tr>
  <td>
    <%= f.text_field :name, :class => 'skill-display-name-field form-control' %>
  </td>  
  <td style="vertical-align:middle">
    <ul class="table-buttons">
      <li>
        <%= link_to_remove_fields bs3glyphincon('trash'), f, :skills %>
      </li>
    </ul>
  </td>
</tr>
