<% provide(:title, "Sector Manager") %>
<h1>Sector Manager</h1>

<div class="row">
  <div class="breadcrumb-layout">
    <ul class="breadcrumb">
      <li>
        <%= link_to "New", new_sector_path %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="content-layout">
    <% if @sectors.any? %>
      <h3>Sectors (<%= @sectors.count %>)</h3>
      <%= render "sectors_table" %>
    <% end %>
  </div>
</div>
