<% provide(:title, @user.email) %>
<h1>Profile</h1>
<% #= render 'shared/user_info' %>

<div class="row">
  <div class="menu-layout">
    <%= link_to "<span class=\"glyphicon glyphicon-briefcase\"></span> Sectors".html_safe, sectors_path, :class => 'btn btn-warning btn-large col-xs-12' %>
  </div>
</div>
<div class="row">
  <div class="menu-layout">
    <%= link_to "<span class=\"glyphicon glyphicon-wrench\"></span> Projects".html_safe, projects_path, :class => 'btn btn-warning btn-large col-xs-12' %>
  </div>
</div>
<div class="row">
  <div class="menu-layout">
    <%= link_to "<span class=\"glyphicon glyphicon-envelope\"></span> Contacts".html_safe, contact_profiles_path, :class => 'btn btn-warning btn-large col-xs-12' %>
  </div>
</div>

