<div id="carousel-skillsets" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">

    <% @skillsets.each_with_index do |skillset, index| %>
      <li data-target="#carousel-skillsets" data-slide-to="<%= index %>" <%= index==0 ? 'class="active"' : '' %>></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @skillsets.each_with_index do |skillset, index| %>

      <div class="item <%= index==0 ? 'active' : '' %>" style="height: 200px">
        <%= render 'skillset', object: skillset %>
      </div>
    <% end %>
s
  </div>
</div>