<% provide(:title, "New Project") %>
<h1>New Project</h1>

<div class="row">
  <div class="breadcrumb-layout">
    <ul class="breadcrumb">
      <li>
        <%= link_to "Back", :back %>
      </li>
    </ul>
  </div>
</div>

<%= form_for @project do |f| %>
  <%= render 'fields', f: f %>
<% end %>

<%= render 'upload_dialog' %>