@import "bootstrap";

/* mixins, variables, etc. */

$blue: #049cdb !default;
$green: #46a546 !default;
$red: #9d261d !default;

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html,body{
    height: 100%
}

/*html {
  overflow-y: scroll;
}*/

#body {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  /*margin-bottom: 30px;*/
  margin-top: 20px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.navbar-inverse .navbar-nav > li > a {
  color: $blue;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  /*padding-top: 9px;*/
  font-weight: bold;
  /*line-height: 1;*/
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

/*
footer{
    height: 50px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
}
*/

#footer {
  height: 50px;
}

.footer-container {
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover { 
      color: $gray-darker;
    }
  }  
  small { 
  }
  ul {
    list-style: none;
    li {
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

/*
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
*/

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  /*padding: 10px;*/
  /*margin-bottom: 15px;*/
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }


.bs-docs {
  position: relative;
  padding: 15px 15px 15px;
  background-color: #FFF;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.vertical-aligned-btn-content {
  display: inline-block !important;
  vertical-align: middle !important;
}

.iwt{
      display:block;
    }

ul.resource-buttons {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

ul.resource-buttons li {
  display: inline;
}

.pagination {
  margin: 0px 0 !important;
}

.list-group-item {
  padding: 3px 15px !important;
}

.alert {
  text-align: -webkit-center;
}

/* responsive layouts */

.breadcrumb-layout, .content-layout, .carousel-layout, .error-panel-layout {
  @extend .col-xs-10;
  @extend .col-xs-offset-1;
  @extend .col-lg-8;
  @extend .col-lg-offset-2;
}

.login-layout {
  @extend .col-xs-8;
  @extend .col-xs-offset-2;
  @extend .col-lg-6;
  @extend .col-lg-offset-3;
}

.carousel-page-layout {
  @extend .col-xs-6;
}

.cancel-layout {
  @extend .col-xs-6;
  @extend .col-xs-offset-0;
  @extend .col-lg-4;
  @extend .col-lg-offset-0;
} 

.submit-layout {
  @extend .col-xs-6;
  @extend .col-xs-offset-6;
  @extend .col-lg-4;
  @extend .col-lg-offset-8;
} 

.table-layout {
  @extend .table;
  @extend .table-bordered;
  @extend .table-hover;
  /*@extend .sortable*/
}

.menu-layout {
  @extend .col-xs-6;
  @extend .col-xs-offset-3;
  @extend .col-lg-4;
  @extend .col-lg-offset-4;
}

.page-layout, .message-panel-layout {
  @extend .col-xs-12;
  @extend .col-xs-offset-0;
  @extend .col-lg-8;
  @extend .col-lg-offset-2;
}