
/* icons */
[class^="iconsector-"], [class*=" iconsector-"] {
  display: inline-block;
  width: 28px;
  height: 24px;
  *margin-right: .3em;
  line-height: 24px;
  vertical-align: text-top;
  background-image: url(iconsector-sprites.png);
  background-position: 28px 24px;
  background-repeat: no-repeat;
}
[class^="iconsector-"]:last-child,
[class*=" iconsector-"]:last-child {
  *margin-left: 0;
}

.iconsector-glass{background-position: 0px 0px;}
.iconsector-leaf{background-position: -28px 0px;}
.iconsector-dog{background-position: -56px 0px;}
.iconsector-user{background-position: -84px 0px;}
.iconsector-girl{background-position: -112px 0px;}
.iconsector-car{background-position: -140px 0px;}
.iconsector-film{background-position: -168px 0px;}
.iconsector-magic{background-position: -196px 0px;}
.iconsector-envelope{background-position: -224px 0px;}
.iconsector-camera{background-position: -252px 0px;}
.iconsector-heart{background-position: -280px 0px;}
.iconsector-umbrella{background-position: -308px 0px;}
.iconsector-train{background-position: -336px 0px;}
.iconsector-print{background-position: -364px 0px;}
.iconsector-bin{background-position: -392px 0px;}
.iconsector-music{background-position: -420px 0px;}
.iconsector-note{background-position: -448px 0px;}
.iconsector-empty{background-position: -476px 0px;}
.iconsector-home{background-position: -504px 0px;}
.iconsector-snowflake{background-position: -532px 0px;}
.iconsector-fire{background-position: -560px 0px;}
.iconsector-magnet{background-position: -588px 0px;}
.iconsector-parents{background-position: -616px 0px;}
.iconsector-binoculars{background-position: -644px 0px;}
.iconsector-road{background-position: -672px 0px;}
.iconsector-search{background-position: -700px 0px;}
.iconsector-cars{background-position: -728px 0px;}
.iconsector-2{background-position: -756px 0px;}
.iconsector-pencil{background-position: -784px 0px;}
.iconsector-bus{background-position: -812px 0px;}
.iconsector-alt{background-position: -840px 0px;}
.iconsector-luggage{background-position: -868px 0px;}
.iconsector-man{background-position: -896px 0px;}
.iconsector-woman{background-position: -924px 0px;}
.iconsector-file{background-position: -952px 0px;}
.iconsector-coins{background-position: -980px 0px;}
.iconsector-airplane{background-position: -1008px 0px;}
.iconsector-notes{background-position: -1036px 0px;}
.iconsector-stats{background-position: -1064px 0px;}
.iconsector-charts{background-position: -1092px 0px;}
.iconsector-chart{background-position: -1120px 0px;}
.iconsector-group{background-position: -1148px 0px;}
.iconsector-keys{background-position: -1176px 0px;}
.iconsector-calendar{background-position: -1204px 0px;}
.iconsector-router{background-position: -1232px 0px;}
.iconsector-small{background-position: -1260px 0px;}
.iconsector-dislikes{background-position: -1288px 0px;}
.iconsector-star{background-position: -1316px 0px;}
.iconsector-link{background-position: -1344px 0px;}
.iconsector-open{background-position: -1372px 0px;}
.iconsector-close{background-position: -1400px 0px;}
.iconsector-alarm{background-position: -1428px 0px;}
.iconsector-clock{background-position: -1456px 0px;}
.iconsector-stopwatch{background-position: -1484px 0px;}
.iconsector-projector{background-position: -1512px 0px;}
.iconsector-history{background-position: -1540px 0px;}
.iconsector-truck{background-position: -1568px 0px;}
.iconsector-cargo{background-position: -1596px 0px;}
.iconsector-compass{background-position: -1624px 0px;}
.iconsector-keynote{background-position: -1652px 0px;}
.iconsector-paperclip{background-position: -1680px 0px;}
.iconsector-power{background-position: -1708px 0px;}
.iconsector-lightbulb{background-position: -1736px 0px;}
.iconsector-tag{background-position: -1764px 0px;}
.iconsector-tags{background-position: -1792px 0px;}
.iconsector-cleaning{background-position: -1820px 0px;}
.iconsector-ruller{background-position: -1848px 0px;}
.iconsector-gift{background-position: -1876px 0px;}
.iconsector-umbrella{background-position: -1904px 0px;}
.iconsector-book{background-position: -1932px 0px;}
.iconsector-wifi{background-position: -1960px 0px;}
.iconsector-cup{background-position: -1988px 0px;}
.iconsector-stroller{background-position: -2016px 0px;}
.iconsector-plugs{background-position: -2044px 0px;}
.iconsector-cart{background-position: -2072px 0px;}
.iconsector-lock{background-position: -2100px 0px;}
.iconsector-unlock{background-position: -2128px 0px;}
.iconsector-electricity{background-position: -2156px 0px;}
.iconsector-bluetooth{background-position: -2184px 0px;}
.iconsector-euro{background-position: -2212px 0px;}
.iconsector-usd{background-position: -2240px 0px;}
.iconsector-gbp{background-position: -2268px 0px;}
.iconsector-moon{background-position: -2296px 0px;}
.iconsector-sun{background-position: -2324px 0px;}
.iconsector-cloud{background-position: -2352px 0px;}
.iconsector-direction{background-position: -2380px 0px;}
.iconsector-brush{background-position: -2408px 0px;}
.iconsector-pen{background-position: -2436px 0px;}
.iconsector-pin{background-position: -2464px 0px;}
.iconsector-albums{background-position: -2492px 0px;}
.iconsector-lock{background-position: -2520px 0px;}
.iconsector-flash{background-position: -2548px 0px;}
.iconsector-maps{background-position: -2576px 0px;}
.iconsector-anchor{background-position: -2604px 0px;}
.iconsector-conversation{background-position: -2632px 0px;}
.iconsector-chat{background-position: -2660px 0px;}
.iconsector-male{background-position: -2688px 0px;}
.iconsector-female{background-position: -2716px 0px;}
.iconsector-asterisk{background-position: -2744px 0px;}
.iconsector-diving{background-position: -2772px 0px;}
.iconsector-diving{background-position: -2800px 0px;}
.iconsector-bottle{background-position: -2828px 0px;}
.iconsector-fins{background-position: -2856px 0px;}
.iconsector-fishes{background-position: -2884px 0px;}
.iconsector-boat{background-position: -2912px 0px;}
.iconsector-delete{background-position: -2940px 0px;}
.iconsector-star{background-position: -2968px 0px;}
.iconsector-qrcode{background-position: -2996px 0px;}
.iconsector-barcode{background-position: -3024px 0px;}
.iconsector-pool{background-position: -3052px 0px;}
.iconsector-buoy{background-position: -3080px 0px;}
.iconsector-spade{background-position: -3108px 0px;}
.iconsector-bank{background-position: -3136px 0px;}
.iconsector-vcard{background-position: -3164px 0px;}
.iconsector-plug{background-position: -3192px 0px;}
.iconsector-flag{background-position: -3220px 0px;}
.iconsector-card{background-position: -3248px 0px;}
.iconsector-wireless{background-position: -3276px 0px;}
.iconsector-wireless{background-position: -3304px 0px;}
.iconsector-shield{background-position: -3332px 0px;}
.iconsector-ring{background-position: -3360px 0px;}
.iconsector-cake{background-position: -3388px 0px;}
.iconsector-drink{background-position: -3416px 0px;}
.iconsector-beer{background-position: -3444px 0px;}
.iconsector-food{background-position: -3472px 0px;}
.iconsector-cutlery{background-position: -3500px 0px;}
.iconsector-pizza{background-position: -3528px 0px;}
.iconsector-cake{background-position: -3556px 0px;}
.iconsector-tablet{background-position: -3584px 0px;}
.iconsector-settings{background-position: -3612px 0px;}
.iconsector-bullets{background-position: -3640px 0px;}
.iconsector-cardio{background-position: -3668px 0px;}
.iconsector-t-shirt{background-position: -3696px 0px;}
.iconsector-pants{background-position: -3724px 0px;}
.iconsector-sweater{background-position: -3752px 0px;}
.iconsector-fabric{background-position: -3780px 0px;}
.iconsector-leather{background-position: -3808px 0px;}
.iconsector-scissors{background-position: -3836px 0px;}
.iconsector-bomb{background-position: -3864px 0px;}
.iconsector-skull{background-position: -3892px 0px;}
.iconsector-celebration{background-position: -3920px 0px;}
.iconsector-kettle{background-position: -3948px 0px;}
.iconsector-press{background-position: -3976px 0px;}
.iconsector-cup{background-position: -4004px 0px;}
.iconsector-pot{background-position: -4032px 0px;}
.iconsector-grater{background-position: -4060px 0px;}
.iconsector-kettle{background-position: -4088px 0px;}
.iconsector-hospital{background-position: -4116px 0px;}
.iconsector-h{background-position: -4144px 0px;}
.iconsector-microphone{background-position: -4172px 0px;}
.iconsector-webcam{background-position: -4200px 0px;}
.iconsector-church{background-position: -4228px 0px;}
.iconsector-islam{background-position: -4256px 0px;}
.iconsector-hindu{background-position: -4284px 0px;}
.iconsector-buddhist{background-position: -4312px 0px;}
.iconsector-bicycle{background-position: -4340px 0px;}
.iconsector-preserver{background-position: -4368px 0px;}
.iconsector-flower{background-position: -4396px 0px;}
.iconsector-baseball{background-position: -4424px 0px;}
.iconsector-rugby{background-position: -4452px 0px;}
.iconsector-ax{background-position: -4480px 0px;}
.iconsector-tennis{background-position: -4508px 0px;}
.iconsector-bowling{background-position: -4536px 0px;}
.iconsector-conifer{background-position: -4564px 0px;}
.iconsector-deciduous{background-position: -4592px 0px;}
.iconsector-gamepad{background-position: -4620px 0px;}
.iconsector-dices{background-position: -4648px 0px;}
.iconsector-calculator{background-position: -4676px 0px;}
.iconsector-tie{background-position: -4704px 0px;}
.iconsector-wallet{background-position: -4732px 0px;}
.iconsector-piano{background-position: -4760px 0px;}
.iconsector-sampler{background-position: -4788px 0px;}
.iconsector-podium{background-position: -4816px 0px;}
.iconsector-ball{background-position: -4844px 0px;}
.iconsector-blog{background-position: -4872px 0px;}
.iconsector-dashboard{background-position: -4900px 0px;}
.iconsector-certificate{background-position: -4928px 0px;}
.iconsector-bell{background-position: -4956px 0px;}
.iconsector-candle{background-position: -4984px 0px;}
.iconsector-pushpin{background-position: -5012px 0px;}
.iconsector-shake{background-position: -5040px 0px;}
.iconsector-flag{background-position: -5068px 0px;}
.iconsector-turtle{background-position: -5096px 0px;}
.iconsector-rabbit{background-position: -5124px 0px;}
.iconsector-globe{background-position: -5152px 0px;}
.iconsector-briefcase{background-position: -5180px 0px;}
.iconsector-hdd{background-position: -5208px 0px;}
.iconsector-bag{background-position: -5236px 0px;}
.iconsector-open{background-position: -5264px 0px;}
.iconsector-nameplate{background-position: -5292px 0px;}
.iconsector-alt{background-position: -5320px 0px;}
.iconsector-vases{background-position: -5348px 0px;}
.iconsector-bullhorn{background-position: -5376px 0px;}
.iconsector-dumbbell{background-position: -5404px 0px;}
.iconsector-suitcase{background-position: -5432px 0px;}
.iconsector-bug{background-position: -5460px 0px;}
.iconsector-crown{background-position: -5488px 0px;}
.iconsector-smoking{background-position: -5516px 0px;}
.iconsector-restart{background-position: -5544px 0px;}
.iconsector-camera{background-position: -5572px 0px;}
.iconsector-af{background-position: -5600px 0px;}
.iconsector-global{background-position: -5628px 0px;}
.iconsector-spray{background-position: -5656px 0px;}
.iconsector-nails{background-position: -5684px 0px;}
.iconsector-hammer{background-position: -5712px 0px;}
.iconsector-hammer{background-position: -5740px 0px;}
.iconsector-saw{background-position: -5768px 0px;}
.iconsector-riflescope{background-position: -5796px 0px;}
.iconsector-eu{background-position: -5824px 0px;}
.iconsector-us{background-position: -5852px 0px;}
.iconsector-hanger{background-position: -5880px 0px;}
.iconsector-dress{background-position: -5908px 0px;}
.iconsector-bathrobe{background-position: -5936px 0px;}
.iconsector-shirt{background-position: -5964px 0px;}
.iconsector-underwear{background-position: -5992px 0px;}
.iconsector-in{background-position: -6020px 0px;}
.iconsector-sd{background-position: -6048px 0px;}
.iconsector-hd{background-position: -6076px 0px;}
.iconsector-subtitles{background-position: -6104px 0px;}
.iconsector-stereo{background-position: -6132px 0px;}
.iconsector-dolby{background-position: -6160px 0px;}
.iconsector-1{background-position: -6188px 0px;}
.iconsector-1{background-position: -6216px 0px;}
.iconsector-1{background-position: -6244px 0px;}
.iconsector-mark{background-position: -6272px 0px;}
.iconsector-mark{background-position: -6300px 0px;}
.iconsector-radar{background-position: -6328px 0px;}
.iconsector-skateboard{background-position: -6356px 0px;}
.iconsector-course{background-position: -6384px 0px;}
.iconsector-plus{background-position: -6412px 0px;}
.iconsector-minus{background-position: -6440px 0px;}
.iconsector-tower{background-position: -6468px 0px;}
.iconsector-send{background-position: -6496px 0px;}
.iconsector-cone{background-position: -6524px 0px;}
.iconsector-steps{background-position: -6552px 0px;}
.iconsector-golf{background-position: -6580px 0px;}
.iconsector-hockey{background-position: -6608px 0px;}
.iconsector-pipe{background-position: -6636px 0px;}
.iconsector-wrench{background-position: -6664px 0px;}
.iconsector-closed{background-position: -6692px 0px;}
.iconsector-alt{background-position: -6720px 0px;}
.iconsector-earphone{background-position: -6748px 0px;}
.iconsector-translate{background-position: -6776px 0px;}
.iconsector-factory{background-position: -6804px 0px;}
.iconsector-window{background-position: -6832px 0px;}
.iconsector-shop{background-position: -6860px 0px;}
.iconsector-kiosk{background-position: -6888px 0px;}
.iconsector-wheels{background-position: -6916px 0px;}
.iconsector-light{background-position: -6944px 0px;}
.iconsector-food{background-position: -6972px 0px;}
.iconsector-transfer{background-position: -7000px 0px;}
.iconsector-money{background-position: -7028px 0px;}
.iconsector-blacksmith{background-position: -7056px 0px;}
.iconsector-blade{background-position: -7084px 0px;}
.iconsector-basketball{background-position: -7112px 0px;}
.iconsector-server{background-position: -7140px 0px;}
