@import "bootstrap";

/* mixins, variables, etc. */

$blue: #049cdb !default;
$green: #46a546 !default;
$red: #9d261d !default;
$logoShadowColor: #000000 !default;

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

$twitter-text-size: 32px;
$twitter-button-size: $twitter-text-size + $twitter-text-size * 0.1;
$twitter-button-margin: $twitter-button-size * 0.1;