<footer class="footer">
  <div class="row-fluid">
    <div class="span3">
      <small>
        <nav>
          <ul>
            <li>
              Powered by <%= mail_to "Michele Gozzi", '***REMOVED***@gmail.com' %>
            </li>
            <li>
              <%= link_to "My linkedin profile", 'http://it.linkedin.com/in/***REMOVED***/' %>
            </li>
          </ul>
        </nav>
      </small>
    </div>
  </div>
</footer>