<div class="footer-panel">
  <div id="footer" class="hidden-xs full-panel">
    <div class="footer-container">
      <small>
        <ul>
          <li>
            Powered by <%= mail_to "Michele Gozzi", 'michelegozzi@gmail.com' %>
          </li>
          <li>
            <%= link_to "My linkedin profile", 'http://it.linkedin.com/in/michelegozzi/' %>
          </li>
        </ul>
      </small>
    </div>
  </div>
</div>